:root{
  --background1:#009688;
  --background2:#dadbd4;
  --mexsent:#d5f9ba;
  --lightblue:#8edafc;
  --grey:#b1b1b1;
  --topbar:#eaeaea;
  --message:#f3eeea;
  --searchbar:#fafafa;
}

/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(
    to bottom,
    var(--background1)0%,
    var(--background1)15%,
    var(--background2)15%,
    var(--background2)100%
  );
}

/* utilities */

.container{
  width: 80%;
  height: 95vh;
  margin: 2.5vh auto;
}

.d-flex{
  display: flex;
}

.debug{
  border: 1px solid black;
}

.b-r-grey{
  border-right: 1px solid var(--grey);
}

/* main-wrapper */

.main-wrapper{
  background-color: white;
}

.main-wrapper .col-left{
  width: 30%;
  height: 100%;
  /* background-color: red;  */
}

.main-wrapper .topbar{
  height: 70px;
  background-color: var(--topbar);
}

.main-wrapper .col-left .notifications{
  height: 80px;
  background-color: var(--lightblue);
}

.main-wrapper .col-left .searchbar{
  height: 50px;
  background-color: var(--searchbar);
}

.main-wrapper .col-left .contacts{
  height: calc(100% - 70px - 80px - 50px);
  overflow-y: scroll;
}

.main-wrapper .col-right{
  width: 70%;
  height: 100%;
  background-color: blue;
}

.main-wrapper .col-right .chat{
  height: calc(100% - 70px - 70px);
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}

.main-wrapper .col-right .message{
  height: 70px;
  background-color: var(--message);
}

/* ############ media queries ############ */

/* tablet */

@media screen and (max-width:992px){
  .container{
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}

/* mobile */

@media screen and (max-width:542px){
  
}